<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Screening Test</span>
      <span class="example-spacer"></span>      
    </mat-toolbar-row>    
  </mat-toolbar>
</p>

<p class="box" >
  <app-dropdown
      [labelName]="regionLabel"
      [list]="arRegions"
      (listChange)="getRegionValue($event)"
  ></app-dropdown>

  <app-dropdown
      [labelName]="countryLabel"
      [list]="countryList"
      [isDisabled]="countryDisable"
      (listChange)="getCountryValue($event)"
  ></app-dropdown>

</p>

<p  *ngIf="singleCountyList.length > 0">
  <app-detail-table
    [countryData]="singleCountyList"
  >
  </app-detail-table>
</p>